<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Burgers</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script type="text/javascript" src="jquery-2.2.4.min.js"></script>
		<link href="/static/css/burger_style.css" rel="stylesheet" />
		<script type="text/javascript" src="burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>

